/frontend/node_modules
/backend/env
/backend/GIFT/.env
/backend/accounts/__pycache__
/backend/GIFT/__pycache__
/backend/products/__pycache__
/backend/accounts/migrations
/backend/userprofile/migrations