.landing-workings {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0px;
}

.landing-workings-card-container {
    display: flex;
    justify-content: center;
    padding: 0px 40px;
    gap: 5%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .landing-workings-card-container {
        display: flex;
        flex-wrap: wrap;

        padding: 0px 10px;
        column-gap: 200px;
        row-gap: 20px;
    }
}
