.bttn {
    padding: 15px;
    border: 2px solid var(--fg-color);
    border-radius: 10px;

    color: var(--fg-color);
    background-color: var(--bg-color);

    box-shadow: 0px 0px 10px var(--bg-color);

    letter-spacing: 7px;
    font-weight: bold;
}

.bttn:hover {
    cursor: pointer;
    border-color: var(--bg-color);
    color: var(--bg-color);
    background-color: var(--fg-color);
}
