.bttn {
    font-size: 0.9rem;
    padding: 15px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--bg-color);
    letter-spacing: 3px;
    font-weight: bold;
}

.bttn-primary {
    border-color: var(--bg-color);
    color: var(--bg-color);
    background-color: var(--fg-color);
}

.bttn-secondary {
    border-color: var(--fg-color);
    color: var(--fg-color);
    background-color: var(--bg-color);
}

.bttn:hover {
    cursor: pointer;
    border-radius: 100px;
    background-color: var(--active-color);
    color: var(--bg-color);
}

.bttn:disabled {
    cursor: not-allowed;
    background-color: rgba(239, 239, 239, 0.3);
}
