.layout {
    color: var(--fg-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Targetting any div that is inside <Outlet> and making 
 it fill rest of the screen space */
.layout > div:nth-child(2) {
    flex: 1;
}
