.register {
    background-image: url("../../../assets/login-bg-3.jpg");
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 40vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    border: 5px solid var(--hover-color);
    border: 5px solid rgb(179, 179, 179);
    border-radius: 20px;
    backdrop-filter: blur(10px);

    color: var(--fg-color);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
