.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--fg-color);
    background-color: black;
    background-color: transparent;

    padding: 13px 0px;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.navbar-logo {
    margin-left: 15px;
    height: 50px;
    filter: grayscale(100%) contrast(200%);
}

.navbar-secondary-wrapper,
.navbar-items,
.mobile-nav {
    margin-right: 15px;
    display: none !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mobile-nav {
        display: block !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .mobile-nav {
        display: block !important;
    }
    .navbar-logo {
        height: 50px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar-secondary-wrapper,
    .navbar-items {
        display: flex !important;
    }
    .navbar-logo {
        height: 40px;
    }
}
