#root {
    width: 100%;
    height: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

/* Default Light Theme */
:root {
    --font-color-primary: white;
    --font-color-secondary: rgb(204, 204, 204);

    --active-color-primary: #53da4e;

    --bg-color-primary: #9a97f3;
    --bg-color-secondary: #f39797;

    --hover-color-primary: #f39797;
    --hover-color-secondary: #e5f397;
}

/* Customizing Dark Theme */
[theme="dark"] {
    --primary-color: #9a97f3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

/*  */
/* Custom Sidebar Start */
/*  */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px;
}
/*  */
/* Custom Sidebar END */
/*  */
