#root {
    width: 100%;
    height: 100%;
}
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

/* Default Light Theme */
:root {
    --bg-color: #ffa68d;
    --fg-color: #1c1c1c;

    --active-color: #58b958;
    --hover-color: #58b958;
    --heading-color: #04aa6d;

    --card-bg: #f3b3a1;

    --font-monoton: "Monoton", sans-serif;
    --font-mulish: "Mulish", sans-serif;
    --font-karla: "Karla", sans-serif;
}

/* Customizing Dark Theme */
[theme="dark"] {
    --bg-color: #1c1c1c;
    --fg-color: #ffa68d;

    --active-color: #04aa6d;
    --hover-color: #04aa6d;
    --heading-color: #04aa6d;

    --card-bg: rgb(36, 36, 36);
}

/* Hero Header (landing) */
h1 {
    font-size: 5rem;
    font-family: var(--font-monoton);
}

/* Sub Hero Header */
h2 {
    font-size: 3.2rem;
    font-weight: 800;
    font-family: var(--font-karla);
}

/* Section Header */
h3 {
    font-size: 2.8rem;
    letter-spacing: 0.5px;
    font-weight: 800;
    font-family: var(--font-karla);
}

/*  Text - header */
h4 {
    font-size: 1.5rem;
    font-weight: 800;
    font-family: var(--font-karla);
}

/* Text - normal */
h5 {
    font-weight: normal;
    font-size: 1.3rem;
    font-family: var(--font-mulish);
}

/* Text - small */
h6 {
    font-size: 1rem;
    font-style: italic;
    font-family: var(--font-mulish);
}

/*  */
/* Custom Sidebar Start */
/*  */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 20px;
}
/*  */
/* Custom Sidebar END */
/*  */
